<table>
  <thead>
    <td>{{'product' | uppercase}}</td>
    <td>{{'price' | uppercase}}</td>
    <td>{{'quantity' | uppercase}}</td>
    <td>{{'total' | uppercase}}</td>
    <td></td>
  </thead>
  <tr>
    <td>
      <figure>
        <img src="https://cdn.shopify.com/s/files/1/0070/7032/files/image5_4578a9e6-2eff-4a5a-8d8c-9292252ec848.jpg?v=1620247043">
      </figure>
      <figcaption>
        <span>Camera</span>
      </figcaption>
    </td>
    <td>
      $ 125
    </td>
    <td>
      <div class="quantity">
        <span>-</span>
        <span>2</span>
        <span>+</span>
      </div>
    </td>
    <td>
      $ 250
    </td>
    <td>
      <fa-icon [icon]="faX"></fa-icon>
    </td>
  </tr>
  <tr>
    <td>
      <figure>
        <img src="https://cdn.shopify.com/s/files/1/0070/7032/files/image5_4578a9e6-2eff-4a5a-8d8c-9292252ec848.jpg?v=1620247043">
      </figure>
      <figcaption>
        <span>Camera</span>
      </figcaption>
    </td>
    <td>
      $ 125
    </td>
    <td>
      <div class="quantity">
        <span>-</span>
        <span>2</span>
        <span>+</span>
      </div>
    </td>
    <td>
      $ 250
    </td>
    <td>
      <fa-icon [icon]="faX"></fa-icon>
    </td>
  </tr>
</table>
