<div class="box">
  <div class="row">
    <div class="col-md-3">
      <label for="categories" class="mb-2">Categories:</label>
      <select name="Categories" class="form-control" #optionValue (change)="filterProduct(optionValue.value)">
        <option *ngFor="let catigory of catigories" value="{{catigory}}">{{catigory}}</option>
      </select>
    </div>
  </div>
  <div class="row" (click)="test()" >
    <div class="col-md-3" *ngFor="let product of products" [routerLink]="['/detail',product.id]">
      <div class="item">
        <figure>
          <img src={{product.image}}>
        </figure>
        <figcaption>
          <div class="data">
            <h4>{{product.title | shortPipeTs:10}}</h4>
            <p>{{product.description | shortPipeTs:80}}</p>
          </div>
          <div class="PriceAndSell">
            <button type="button" class="btn btn-primary">Add To Cart</button>
            <span>{{product.price}} LE</span>
          </div>
        </figcaption>
      </div>
    </div>
  </div>
</div>
